<a href="https://colab.research.google.com/github/DIFACQUIM/Cursos/blob/main/Introducci%C3%B3n_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python

# Objetivos 

---

* Introducir definiciones y funciones básicas de Python.
* Presentar el concepto de librerías/paqueterías.
* Aprender a importar *dataset* existentes.
* Aprender a realizar gráficos sencillos para la visualizacion de datos.

# Introducción: 

[Python](https://docs.python.org/3/) es un lenguaje de programación interpretado y orientado a objetos. La amplia aplicabilidad y el soporte de paqueterías con las que cuenta, permiten que se construyan productos y software altamente versátiles y escalables en el mundo real.
En la ciencia, cada vez es más recurrente el uso de Python en áreas como la bioinformática y la quimioinformática para el manejo y análisis de datos complejos, como datos genómicos, imágenes médicas, registros médicos electrónicos y bases de datos de miles (incluso millones) de compuestos químicos. Python se ha convertido en un lenguaje de programación muy atractivo en el campo de la bioinformática y la quimioinformática debido a su rápida curva de aprendizaje y su fácil integración en varios aplicaciones.

### Tabla de Contenidos

---
* [Datos](#Datos)
* [Variables](#Variables)
* [Funciones](#Funciones)
* [Librerías/paqueterías](#Librerias/Paqueterias)
* [Tablas](#Manipulacion_de_tablas)
* [Simple plots](#Simple_plots)
* [Multiple plots](#Multiple_plots)
* [Regresión lineal](#Regresion_lineal)
* [Limpieza de datos](#Regresion_lineal)

# Datos <a class="anchor" id="Datos"></a>

---
En Python hay tipos específicos de valores que podemos usar. A continuación se mencionan los diferetes tipos de datos en Python junto con algunos ejemplos:

*   Boolean (bool): es una variable que puede ser _verdadera_ o _falsa_.

*   Integer (int): representa números enteros positivos o negativos, como 8 o -678.

*   Floating point number (float): representa números reales, como  3.14159 or -6.5.

*    String de caracteres llamado “string”, str : son cadenas de caracteres, es decir, valores de texto, por ejemplo "hola" o "banana".

*   Listas (list) : este tipo de valor es una lista, ya sea de valores integer o float. Por ejemplo: [1,2,3,4] o [1.23, 2, 3.54, 4]

Para confirmar el tipo de valor con el que estamos trabajando podemos hacer uso de  **type( )** y el nombre de la variable dentro de los parentesis.

Para más información, consulten la [documentación](https://docs.python.org/3/library/stdtypes.html "Python's Built-in Types").

El operador de comparación **==** compara si dos valores son iguales. Nos devuelve un tipo de variable llamado "boolean" o booleana, que puede ser _verdadera_ o _falsa_, como vamos a explicar en la próxima sección.

In [ ]:
a= 3

In [ ]:
a == 2

False

In [ ]:
type(0.8)

float

In [ ]:
type(5)

int

Como ya se mencionó, un valor de texto es un _string_. Para dar la instrucción de que queremos imprimir texto, usamos comillas simples o dobles (" " o ' ').

In [ ]:
'this is a string'

'this is a string'

Una cadena es un grupo de caracteres que puede contener números o no, pero si los contiene, no seguirá ningún axioma matemático conocido. Verifiquemos qué sucede cuando tratamos de sumar 50, 25 y X. Esto concatenará cadenas.

In [ ]:
'50'+'25'+'X'

'5025X'

Las listas son tipos de datos importantes que permiten almacenar múltiples elementos en una sola variable. Los elementos están ordenados y se pueden cambiar después de la creación de la lista. Cada elemento tiene un índice, el primer elemento tiene índice [0], el segundo elemento tiene índice [1], etc.

In [ ]:
 list = ["element1", 2, 3.14]
 list[0]

'element1'

#Variables <a class="anchor" id="Variables"></a>
---

Las variables son nombres dados a elementos de datos que pueden tomar uno o más valores durante el tiempo de ejecución de un programa.
Las siguientes son las convenciones de nomenclatura de variables en python:
* No puede comenzar con un número.
* Debe ser una sola palabra.
* Debe constar únicamente de letras y símbolos _.
* Las variables en Python que comienzan con _ (guión bajo) se consideran "inútiles".

In [ ]:
a = 1
b = 2
suma = a + b
exponente = suma ** b

In [ ]:
suma

3

In [ ]:
exponente

9

### Conversión de tipos de datos 

La conversión de tipos es básicamente una conversión de variables de un tipo de datos particular en algún otro tipo de datos, de modo que la conversión sea válida. La conversión de tipos puede ser de dos maneras: implícita o explícita.

![1_Colab.png]()

Conversión de tipos implícita: en la conversión de tipos implícita, el compilador de Python convierte internamente una variable en otro tipo sin la acción externa del usuario.
Ejemplo:

In [ ]:
int_num = 100
float_num = 1.01
ans = int_num + float_num
print(type(int_num))
print(type(float_num))
# ans is implicitly typecasted to float type for greater precision
print(type(ans))

<class 'int'>
<class 'float'>
<class 'float'>

Conversión de tipo explícito: en la conversión de tipo explícito, el usuario obliga explícitamente al compilador a convertir una variable de un tipo a otro. Algunas de las diferentes formas de conversión explícita se muestran a continuación:

* int a *String* o float:

In [ ]:
var = 123
str(var)
'123'

var = 123
float(var)
123.0

123.0

* float a int

In [ ]:
var = 7.8
print(int(var))
7

7

7

# Funciones
---
Empecemos definiendo una **función** como una pieza reusable de código, que sólo es ejecutada cuando se la llama.Python tiene algunas funciones integradas, como **print()** (que usamos previamente), **sum()** y **pow()**. 

La función **print()** de Python nos permite visualizar el valor de una dada variable después de calcularla.

Para más información acerca de las funciones integradas de Python, dirigirse a la [documentación de Pyhton](https://docs.python.org/3/library/functions.html "Python's Built-in Functions").

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
sum([1,2])

3

In [ ]:
pow(3,2)

9

Aparte de estas funciones integradas se puede definir nuestras propias funciones. Muchas veces queremos reutilizar algún código para calcular resultados basados en datos diferentes. Por eso es bastante común condensar este código en forma de **Funciones**.


Para empezar a escribir una función, empezamos escribiendo la palabra "*def*", seguida de una indentación (espacios en blanco o tabulaciones), para que sea fácil de reconocer.

Para entender mejor las funciones, debemos introducir el concepto de **parámetro** y **argumento**. Un *parámetro* es una variable que se define al declarar la función, los parámetros se escriben entre paréntesis. El *argumento* de un parámetro dado es el valor real del parámetro que se pasa a la función. 

Adicionalmente necesitamos especificar cuáles son las **salidas** de nuestra función para que podamos llamarlas individualmente según las necesitemos. Estas salidas se definen como nuevas variables que dependen de nuestros parámetros previamente definidos. Están determinadas por la palabra "_return_".

![2. Colab.png]()

Imagen traducida de [InterviewBit](https://www.interviewbit.com/python-cheat-sheet/). recuperado en julio del 2022.

Reescribamos nuestro código matemático anterior en una *función* para dejarlo claro:

In [ ]:
def function_add (arg1,arg2):
    # The scope of the variable result is within the function_add and is called local.
    result = arg1 + arg2
    result2= arg1*arg2
    return result, result2

function_add(4,2)

(6, 8)

# Librerías/Paqueterías
---

Para empezar a trabajar con los datos, primero debemos importar "**módulos**", que son programas hechos por otras personas o grupos de personas. En esta sección importaremos los siguientes módulos para la gestión de datos: 

`Pandas` proporciona funciones que generan tablas y nos permiten hacer diferentes tipos de procesamiento de datos. [Documentación Pandas](https://pandas.pydata.org/docs/)

`Seaborn ` nos permite trabajar con las funciones estadísticas habituales y visualizar grandes conjuntos de datos gráficamente con una sintaxis simple. Para trabajar con Seaborn también necesitamos importar la librería gráfica `matplotlib`. [Documentación Seaborn ](https://seaborn.pydata.org/)

Con el comando "*import*" podemos importar los módulos que necesitamos y que están guardados en nuestra computadora, siendo éste un notebook online, los módulos ya están instalados en una computadora externa. 

Pandas y Seaborn trabajan con conjuntos de datos en forma de tablas llamadas *dataframes* Estos *dataframes* son esencialmente tablas de datos alineados en filas y columnas etiquetadas.

In [ ]:
import pandas as pd
import seaborn as sns
#El comando "as" dice el nombre que le queremos dar al módulo para después llamarlo de una forma abreviada.

Cargaremos un conjunto de datos preexistente dentro del módulo Seaborn. El conjunto de datos con el que trabajaremos se llama "anascombe" .

In [ ]:
df = sns.load_dataset('anscombe')

In [ ]:
#Veamos la forma de los datos que importamos, los notebooks son capaces de imprimir los datos en forma de tablas
df
#Notemos que existe una columna que clasifica los datos en 3 regiones I, II y III, donde simplemente cambia la tenendencia de la función y permite hacer análisis variados y sencillos de muestra en esos dominios.

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

En nuestra tabla tenemos 4 columnas. La primera columna se llama "_index_" y sólo ennumera los datos. El resto de las columnas son específicas para el conjunto de datos que elegimos.

En programación, cualquier valor, función o *dataframe* se llama **objeto**, y cada objeto tiene una **clase**. Los DataFrames son un tipo de "clase", esencialmente porque se puede hacer el mismo tipo de cosas con todos los *dataframes*. 

Podemos decir que cada vez que llamamos la función `type()` a cualquier objeto de Python estamos preguntando por su clase:

In [ ]:
type(df)

pandas.core.frame.DataFrame

Las clases incorporan información sobre el comportamiento. La información sobre comportamiento está contenida en **métodos**. En este sentido, las columnas son un método de la clase *dataframe*.

Mostrar columnas

---
Algunas funciones integradas de Pandas nos permiten visualizar ciertas características de nuestro *dataframe*, por ejemplo, la función `columns` imprime las etiquetas (labels) de todas las columnas existentes en la tabla.

In [ ]:
#Algunas funciones integradas de pandas permiten visualizar ciertas características de nuestro DataFrame, por ejemplo, la función columns nos imprime el nombre de todas las columnas de la tabla.
df.columns

Index(['dataset', 'x', 'y'], dtype='object')

También podemos trasponer filas y columnas usando:

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
dataset,I,I,I,I,I,I,I,I,I,I,...,IV,IV,IV,IV,IV,IV,IV,IV,IV,IV
x,10.0,8.0,13.0,9.0,11.0,14.0,6.0,4.0,12.0,7.0,...,8.0,8.0,8.0,8.0,8.0,8.0,19.0,8.0,8.0,8.0
y,8.04,6.95,7.58,8.81,8.33,9.96,7.24,4.26,10.84,4.82,...,5.76,7.71,8.84,8.47,7.04,5.25,12.5,5.56,7.91,6.89

Si quisiéramos que ordenar los valores numéricos según un criterio determinado, podemos utilizar la función `sort_values()`. Debemos tener en cuenta que tenemos que especificar qué valores en qué columnas queremos ordenar. Con el parámetro "`ascending`" o "`descending`" podemos especificar si queremos ordenarlos en orden ascendente o descendente.
 
 Esta función, como cualquier otra, tiene parámetros adicionales que podemos cambiar según nuestro gusto o necesidades, por ejemplo, el parámetro `ascending` es "_True_" por defecto. Si no lo especificamos, permanecerá como "_True_", pero si lo necesitamos, podríamos cambiarlo a "_False_".

 En este caso, ordenaremos los valores de la columna "x" en orden ascendente:

In [ ]:
df.sort_values(by='x',ascending = True)

   dataset     x      y
18      II   4.0   3.10
29     III   4.0   5.39
7        I   4.0   4.26
21      II   5.0   4.74
32     III   5.0   5.73
10       I   5.0   5.68
6        I   6.0   7.24
28     III   6.0   6.08
17      II   6.0   6.13
9        I   7.0   4.82
31     III   7.0   6.42
20      II   7.0   7.26
37      IV   8.0   8.47
35      IV   8.0   7.71
23     III   8.0   6.77
34      IV   8.0   5.76
33      IV   8.0   6.58
38      IV   8.0   7.04
39      IV   8.0   5.25
41      IV   8.0   5.56
36      IV   8.0   8.84
43      IV   8.0   6.89
1        I   8.0   6.95
12      II   8.0   8.14
42      IV   8.0   7.91
3        I   9.0   8.81
25     III   9.0   7.11
14      II   9.0   8.77
22     III  10.0   7.46
11      II  10.0   9.14
0        I  10.0   8.04
15      II  11.0   9.26
26     III  11.0   7.81
4        I  11.0   8.33
8        I  12.0  10.84
19      II  12.0   9.13
30     III  12.0   8.15
24     III  13.0  12.74
2        I  13.0   7.58
13      II  13.0   8.74
16      II  14.0   8.10
27     III  14.0   8.84
5        I  14.0   9.96
40      IV  19.0  12.50

Seleccionando una sola columna

---
También podríamos seleccionar una sola columna y generar una tabla que sólo contenga el _índice (index)_ y la columna seleccionada. Este tipo de tabla se llama "*Serie*".

In [ ]:
# Podemos también seleccionar una columna única y generar un tipo de tabla que solo contiene la columna _indice_ o _index_ y la seleccionada, este tipo de tabla se llama _Series_
df_X = df['x']

In [ ]:
type(df_X)

pandas.core.series.Series

In [ ]:
df_X

0     10.0
1      8.0
2     13.0
3      9.0
4     11.0
5     14.0
6      6.0
7      4.0
8     12.0
9      7.0
10     5.0
11    10.0
12     8.0
13    13.0
14     9.0
15    11.0
16    14.0
17     6.0
18     4.0
19    12.0
20     7.0
21     5.0
22    10.0
23     8.0
24    13.0
25     9.0
26    11.0
27    14.0
28     6.0
29     4.0
30    12.0
31     7.0
32     5.0
33     8.0
34     8.0
35     8.0
36     8.0
37     8.0
38     8.0
39     8.0
40    19.0
41     8.0
42     8.0
43     8.0
Name: x, dtype: float64

También podríamos seleccionar un rango de filas según su índice.

In [ ]:
# Podemos seleccionar rangos de filas según su indice
df[0:3]

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58

Y podríamos combinar las dos acciones previas y seleccionar un rango de filas y también columnas específicas.

In [ ]:
df.loc[5:9, ['x', 'y']]

      x      y
5  14.0   9.96
6   6.0   7.24
7   4.0   4.26
8  12.0  10.84
9   7.0   4.82

También podemos usar operadores de comparación o booleanos en los valores de las columnas. Este código, por ejemplo, crea una _Serie_ que muestra qué filas de la columna "x" tienen un valor superior a 8.

In [ ]:
df['x'] > 8

0      True
1     False
2      True
3      True
4      True
5      True
6     False
7     False
8      True
9     False
10    False
11     True
12    False
13     True
14     True
15     True
16     True
17    False
18    False
19     True
20    False
21    False
22     True
23    False
24     True
25     True
26     True
27     True
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40     True
41    False
42    False
43    False
Name: x, dtype: bool

La  _Serie_  creada anteriormente puede ser usada como un filtro del conjunto de datos original. Este código crea un _dataframe_ que sólo contiene aquellas filas del *datafram*  original que tengan un valor superior a 8 en la columna "x".

In [ ]:
df[df['x'] > 8]

   dataset     x      y
0        I  10.0   8.04
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
8        I  12.0  10.84
11      II  10.0   9.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
19      II  12.0   9.13
22     III  10.0   7.46
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
30     III  12.0   8.15
40      IV  19.0  12.50

Ejemplo de función
---
También podemos filtrar valores no numéricos, por ejemplo, el siguiente código crea un _dataframe_ que sólo contiene las filas de la región definida como "I".

In [ ]:
#Resulta conveniente filtrar los datos por su tipo, es decir las diferentes regiones mencionadas antes de tipo I , II y II y III.
#Este filtrado se puede realizar con el móduldo de pandas, que permite filtrar los datos colocando "condiciones" como índices, en este
#caso la condición de que la columna "dataset" tenga el valor I , II o III.
df_I = df[df['dataset']=='I']
df_II = df[df['dataset']=='II']
df_III = df[df['dataset']=='III']
df_IV = df[df['dataset']=='IV']

df_I

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68

# Cargar datos en google colab para aprender a limpiar datos 
Esto es una manera adecuada y cómoda para tener tus datos en una plataforma de fácil acceso que es google colab,para este caso se debe 

Subir un archivo desde la PC a Google Colab


**No ejecutar este cuadro hasta que se encuentre subido**

1. Descargamos el dataset desde la URL a la PC.
2. Vamos al último ícono de la barra lateral a la izquierda de la pantalla ("Archivos" o "Files").

![fig1.png]()

3. Presionamos el primer ícono (una hoja de papel con una flecha hacia arriba) y seleccionamos el archivo descargado previamente.

4. Hacemos click derecho sobre el archivo, y seleccionamos "copiar ruta".
5. Pegamos la ruta en el argumento de `pd.read_csv()`, y agregamos otro parámetro: `delimiter=""` , donde ponemost entre las comillas, cuál es el caracter que limita las distintas columnas del archivo.

Obs 1: Donde dice "winequality-red.csv", winequality-red es el nombre del archivo que sera usado en esta Notebook. Para utilizar otros archivos, utilizar:  "ArchivoQueElijas.csv"

## Subir un archivo que está en Google Drive
![fig2.png]()


1.   Ejecutar la celda de abajo
2.   Visitar el URL mencionado en el output de la celda
3.   Ingresar a la cuenta de Google, copiar el link que aparece, y pegarlo en la caja que dice "Enter your authorization code:"
Ahora se van a ver tus archivos de Google Drive en el panel izquierdo (explorador de archivos). Hacer click derecho en el archivo que se desea importar, y seleccionar "copiar la ruta de acceso". Luego importar como es usual en pandas, y pegar la ruta de acceso copiada.


##Importar módulos que no están presentes en Google Colab
Podemos agregar nuevos módulos porque estamos utilizando una "computadora prestada" de google, que contiene Python 3.
Utilizando el síímbolo "!" podemos ejecutar comandos como si estuviéramos utilizando la terminal. En el caso de los Jupyter Notebooks, utilizamos un tipo de consola de linea de comando de Python llamado IPython.
En esta ocasión instalaremos un paquete de estadística llamado "Pinguoin". El comando "pip install" será utilizado para descargar e instalar librerias externas en esta computadora prestada.

# Limpieza de datos

Definamos una función que nos permita mostrar varias tablas una al lado de la otra. A esto lo hacemos sólo con fines de demostración, para saber cómo escribir una función y utilizarla. Para esta función que queremos crear, importaremos display_html de IPython.display

In [ ]:
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str += df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

Dentro de esta función estoy definiendo una nueva variable: `html_str`, y asignándole un valor de texto en blanco, luego le digo a la computadora que tome el DataFrame (`df`) y lo convierta a una tabla HTML (la misma tabla en un formato diferente), agregando la tabla (ahora en formato HTML) como un valor a la variable `html_str`, y mostrando esto junto con el parámetro `'table style="display:inline"'`.
Ahora tenemos que "alimentar" nuestra función con los argumentos, que son las tablas que queremos mostrar:

In [ ]:
display_side_by_side(df_I, df_II, df_III,df_IV)

,dataset,x,y
0,I,10.0,8.04
1,I,8.0,6.95
2,I,13.0,7.58
3,I,9.0,8.81
4,I,11.0,8.33
5,I,14.0,9.96
6,I,6.0,7.24
7,I,4.0,4.26
8,I,12.0,10.84
9,I,7.0,4.82
10,I,5.0,5.68
,dataset,x,y
11,II,10.0,9.14
12,II,8.0,8.14
13,II,13.0,8.74
14,II,9.0,8.77
15,II,11.0,9.26
16,II,14.0,8.10
17,II,6.0,6.13
18,II,4.0,3.10
19,II,12.0,9.13
20,II,7.0,7.26
21,II,5.0,4.74
,dataset,x,y
22,III,10.0,7.46
23,III,8.0,6.77
24,III,13.0,12.74
25,III,9.0,7.11
26,III,11.0,7.81
27,III,14.0,8.84
28,III,6.0,6.08
29,III,4.0,5.39
30,III,12.0,8.15
31,III,7.0,6.42
32,III,5.0,5.73
,dataset,x,y
33,IV,8.0,6.58
34,IV,8.0,5.76
35,IV,8.0,7.71
36,IV,8.0,8.84
37,IV,8.0,8.47
38,IV,8.0,7.04
39,IV,8.0,5.25
40,IV,19.0,12.50
41,IV,8.0,5.56
42,IV,8.0,7.91
43,IV,8.0,6.89

# Para saber más: 

* Joshi, J. (2021). Chapter 9 - Python, a reliable programming language for chemoinformatics and bioinformatics. In N. Sharma, H. Ojha, P. K. Raghav, & R. k. Goyal (Eds.), *Chemoinformatics and Bioinformatics in the Pharmaceutical Sciences* (pp. 279–304). Academic Press. DOI: https://doi.org/10.1016/B978-0-12-821748-1.00013-0.


* Python Cheat Sheet. InterviewBit. Recuperado el 5 de agosto de 2022, de https://www.interviewbit.com/python-cheat-sheet/